<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<div th:fragment="footer">

<footer class="footer oneline">
  <p>&copy; 2017 &nbsp;  &nbsp; coded by Ulugbek ( ULA ) Aripov  &nbsp;  &nbsp; &nbsp; &nbsp; Spring BOOT + Thymeleaf + Hibernate based webapp - CV / resum&#233; &nbsp; &nbsp; &nbsp;- &nbsp; &nbsp; &nbsp;please see section 'About'</p>
</footer>

</div>
</body>
</html>